@{
    ViewBag.Title = "Room: " + Model.Room.Name;
}

@model SocialApp.Models.RoomDetailsViewModel

<link href="~/Content/room-details.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default" id="users">
            <div class="panel-heading">
                Room: @Model.Room.Name
            </div>
            <div class="panel-body" id="avatars">
                <div class="avatar"></div>
            </div>
        </div>

        <ul id="chat" class="list-unstyled">
        </ul>
        <div class="input-group">
            <form data-bind="submit: sendMessage">
                <input data-bind="value: message" type="text" id="message-text" class="form-control message-input" placeholder="Your message here">
                <input type="submit" class="hidden" />
            </form>
            <div class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Send" data-bind="click: sendMessage" />
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default" id="player-panel">
            <div class="panel-heading">Now playing</div>
            <div class="panel-body">
                <img id="album-cover" data-bind="attr: {src: currentSong().AlbumCoverPicturePath}" class="img-thumbnail center-block" />
                <audio controls id="player" class="center-block">
                    <source id="mp3-source" type="audio/mpeg">
                    Your browser does not support the audio element
                </audio>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="panel panel-default" id="actions">
            <div class="panel-heading">Actions</div>
            <div class="panel-body">
                <a href="#" class="btn btn-primary btn-sm" data-bind="click: showAddSongModal">Add a song</a>
                <a href="#" class="btn btn-success btn-sm" data-bind="click: showInviteAFriendModal">Invite a friend</a>
                <button class="btn btn-primary btn-sm"
                   data-bind="click: voteSkipSong, enable: canVoteSkip">
                    Vote skip&nbsp;(<span data-bind="text: skipVotes"></span>)
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default" id="playlist">
            <div class="panel-heading">Playlist</div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed tracklist">
                    <tbody data-bind="foreach: playlist">
                        <tr data-bind="css: {playing: IsPlaying}">
                            <td>
                                <img data-bind="attr: {src: AlbumCoverPicturePath}" class="img-thumbnail album-cover-sm" />
                            </td>
                            <td>
                                <span data-bind="text: TitleDisplay"></span>
                                <br />
                                <span data-bind="text: ArtistDisplay" class="text-muted"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="avatars-tmpl">
    {{#avatars}}
        <img class="avatar img-thumbnail" 
             data-toggle="tooltip" data-placement="bottom" 
             title="{{username}}" src="{{picture}}"
             data-id="{{id}}" />
    {{/avatars}}
</script>

<script type="text/template" id="chat-msg-tmpl">
    <li>
        <span class="timestamp">{{timestamp}}</span>
        <span class="info-{{type}}">
            <span class="username">{{username}}</span>:
            <span class="message">{{text}}</span>
        </span>
    </li>    
</script>

<div class="modal fade" id="add-song-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add song</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Input song title or artist"
                                   data-bind="event: {keyup: searchForSongs}, value: songSearchString, valueUpdate: 'afterkeydown'"
                                   id="song-search" autofocus />
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-default" data-bind="click: searchForSongs">
                                    <i class="glyphicon glyphicon-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-area">
                        <table class="table table-striped search-result table-bordered table-hover table-condensed">
                            <tbody id="search-content" data-bind="foreach: searchedSongs">
                                <tr>
                                    <td>
                                        <img data-bind="attr: {src: AlbumCoverPicturePath}" class="img-thumbnail album-cover-sm" />
                                    </td>
                                    <td>
                                        <span data-bind="text: ArtistDisplay"></span>
                                        &ndash;
                                        <span data-bind="text: TitleDisplay"></span>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.addSongToPlaylist">Add</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: searchedSongs().length == 0">
                                <tr>
                                    <td>No songs found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invite-friend-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Invite a friend</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Input friend's name"
                                   data-bind="event: {keyup: searchForFriends}, value: friendSearchString, valueUpdate: 'afterkeydown'"
                                   id="friend-search" autofocus />
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-default" data-bind="click: searchForFriends">
                                    <i class="glyphicon glyphicon-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-area">
                        <table class="table table-striped search-result table-bordered table-hover table-condensed">
                            <tbody id="search-content" data-bind="foreach: searchedFriends">
                                <tr>
                                    <td>
                                        <img data-bind="attr: {src: PictureFilePath}" class="img-thumbnail album-cover-sm" />
                                    </td>
                                    <td>
                                        <span data-bind="text: FullName"></span>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.inviteFriend">Invite</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: searchedFriends().length == 0">
                                <tr>
                                    <td>No users found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script>
        var roomId = parseInt(@Model.Room.Id);
        var userId = parseInt(@Model.CurrentUser.Id);
        var currentUserIsHost = '@Model.CurrentUserIsHost' == 'True';
        var currentUserName = '@Model.CurrentUser.FullName';
    </script>
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/mine/song-viewmodel.js"></script>
    <script src="~/Scripts/mine/user-viewmodel.js"></script>
    <script src="~/Scripts/mine/playlist-song-viewmodel.js"></script>
    <script src="~/Scripts/mine/room-viewmodel.js"></script>
}